@page
@model c_sharp_grad_frontend.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://kit.fontawesome.com/8a169f074f.js" crossorigin="anonymous"></script>
<script src="~/js/sweetalert2.all.min.js"></script>
<script src="~/js/sweethelper.js"></script>

<style>
    .homediv{
        color: gray;
    }
    .donatediv {
        overflow-y: scroll;
    }
    .container-fluid {
        padding: 25px;
    }

    #title {
        font-weight: bold;
    }

    #about-txt {
        padding-top: 5%;
    }

    .stat-con {
        background-color: #eee;
        padding: 15px;
    }

    .bold-text {
        font-weight: bold;
        font-style: italic;
        font-size: 12pt;
    }

    .figures {
        font-style: italic;
        color: #f7a059;
    }

    .stats {
        margin-top: 50px;
    }

    .donate-con {
        padding: 25px;
    }

    h1 {
        font-size: 20pt;
    }

    i {
        padding: 10px;
        font-size: 40pt;
    }
</style>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

<nav class="navbar navbar-dark bg-dark" style="height:100px;">
    <!-- Navbar content -->

    <form class="form-inline">
        <button class="btn btn-danger" asp-page="/donate">Home</button>
        <button class="btn btn-danger" asp-page="/profile">Profile</button>
        <button class="btn btn-danger" asp-page="/donations">Donations</button>
        <button class="btn btn-danger" asp-page="/about">About</button>
        <button class="btn btn-danger" onclick="alert()">Logout</button>
    </form>
</nav>


<div class="homediv">
    <div class="text-center">
        <img src="~/images/logo2.jpg" style="width:190px; height: 140px;" class="logo" />

        <div class="donatediv container">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 id="title">About Donate</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6 text-center">
                        <p id="about-txt">
                            Donate is a Non-Government Organisation (NGO) aimed at helping South African
                            communities combat the Corona Virus Pandemic. Our aim is to help the less
                            privileged access the necessary resources to get through the pandemic. This has been possible
                            through the generous donations received from multiple stakeholders all over South Africa and the
                            world as a whole.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid stat-con">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4 text-center  stats">
                        <p class="bold-text">
                            Since our inception in 2017, we've helped raise more than
                        </p>
                        <h3 class="figures">R567M</h3>
                        <p class="bold-text">from</p>
                        <h3 class="figures">2,637,574</h3>
                        <p class="bold-text">people like you who've supported our initiative</p>
                    </div>
                    <div class="col-sm-4">
                        <img src="~/images//map.PNG" class="img-fluid" />
                    </div>
                </div>
            </div>
            <div class="container donate-con">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1><i class="fas fa-shield-alt"></i> <br />Safe & Easy Donations</h1>
                        <p>We help donors make safe and easy donations to vetted, locally-driven organizations around South Africa</p>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>
