@page
@model c_sharp_grad_frontend.Pages.DonateModel
@{
    ViewData["Title"] = "Donate";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="~/js/sweetalert2.all.min.js"></script>
<script src="~/js/sweethelper.js"></script>


<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

<nav class="navbar navbar-dark bg-dark" style="height:100px;">
    <!-- Navbar content -->

    <form class="form-inline">
        <button class="btn btn-danger" asp-page="/index">Home</button>
        <button class="btn btn-danger">Profile</button>
        <button class="btn btn-danger">Donations</button>
        <button class="btn btn-danger">About</button>
        <button class="btn btn-danger" onclick="alert()">Logout</button>
    </form>
</nav>


<div class="homediv">
    <div class="text-center">
        <img src="~/images/logo2.jpg" style="width:190px; height: 140px;" class="logo" />

        <div class="donatediv">

            @*<a>Hello</a>*@

            <h2 class="text-black-50">Hello @Model.token.username, welcome back...</h2>
            <br />
            <br />
            <br />
            <br />
            <div style="display: inline-block; float: left; margin-left:250px;">
                <h3 class="text-black-50">With your donation, we can fight back...</h3>
                <br />
                <img src="https://s3.amazonaws.com/assets.fullstack.io/n/20200309095518221_react-chartjs.png" />
                <br/>
                <a class="text-body">use chart.js or something to show the total income off donations over time.</a>
            </div>




            <div class="card" style="width: 18rem; float: right; margin-right: 350px;">
                <img class="card-img-top" src="https://cdn.theatlantic.com/thumbor/CaZyjb4lEsWdh9nc1Sw1WahtRn0=/0x186:5127x2855/960x500/media/img/mt/2020/03/GettyImages_1198676650_toned/original.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>



        </div>
    </div>


</div>
