@page
@model c_sharp_grad_frontend.Pages.DonateModel
@{
    ViewData["Title"] = "Donate";
}

<nav class="navbar navbar-dark bg-dark" style="height:100px;">
    <!-- Navbar content -->
    <img src="~/images/logo2.jpg" style="width:190px; height: 140px;" class="logo" />
    <form class="form-inline">
    </form>
</nav>


<div class="homediv">
    <div class="text-center">

<a style="color: white; font-size: 20px;">This is where we have to start!</a>
    </div>


</div>
