@page
@model c_sharp_grad_frontend.Pages.DonateModel
@{
    ViewData["Title"] = "Donate";
}

<nav class="navbar navbar-dark bg-dark" style="height:100px;">
    <!-- Navbar content -->
    
    <form class="form-inline">
        <button class="btn btn-danger">Home</button>
        <button class="btn btn-danger">Profile</button>
        <button class="btn btn-danger">Donations</button>
        <button class="btn btn-danger">About</button>
    </form>
</nav>


<div class="homediv">
    <div class="text-center">
        <img src="~/images/logo2.jpg" style="width:190px; height: 140px;" class="logo" />

        <div class="donatediv">

            @*<a>Hello</a>*@

        </div>
    </div>


</div>
