@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<nav class="navbar navbar-dark bg-dark" style="height:100px;">
    <!-- Navbar content -->
    <img src="~/images/logo2.jpg" style="width:190px; height: 140px;" class="logo" />
    <form class="form-inline">

        <a style="float: left">Yo</a>



    </form>
</nav>


<div class="homediv">
    <div class="text-center">

        <a class="btn btn-info" asp-page="/Login">Login</a>
        <br />
        <br />
        <a class="btn btn-info" asp-page="/Register">Register</a>
    </div>


</div>
