@page
@model c_sharp_grad_frontend.Pages.ProfileAddModel
@{
    ViewData["Title"] = "ProfileAdd";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="~/js/sweetalert2.all.min.js"></script>
<script src="~/js/sweethelper.js"></script>


<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

<nav class="navbar navbar-dark bg-dark" style="height:100px;">
    <!-- Navbar content -->

    <form class="form-inline">
        <button class="btn btn-danger" asp-page="/donate">Home</button>
        <button class="btn btn-danger" asp-page="/profile">Profile</button>
        <button class="btn btn-danger" asp-page="/donations">Donations</button>
        <button class="btn btn-danger" asp-page="/about">About</button>
        <button class="btn btn-danger" onclick="alert()">Logout</button>
    </form>
</nav>

<style>
    .backgroundDiv {
        width: 100%;
        height: 80vh; 
        background-image: url('/images/sanitizer.jpg');
        background-size: cover;
        justify-content: 'center';
        align-items: 'center';
        text-align: center;
    }

    .cards {
        margin: 1vh 0 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; 
    }

    .editCards {
        margin: 1vh 0 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .column {
        float: left;
        flex: 1;
        justify-content: center;
        align-items: center;
        margin: 2vh;
    }

    .rows:after {
        content: "";
        display: table;
        clear: both;
        justify-content: center;
        align-items: center;
        
    }
</style>

<div class="backgroundDiv">
    <h1>Update your profile</h1>
    <div class="cards">
        <div class="editCards">
            <div class="rows">
                <form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Index">
                    <div class="column">
                        <div style="display: flex; flex-direction:column; margin: 50% 0 0;">

                            <input type="image" id="avatarimage" src="https://seedlingsgardening.com/wp-content/uploads/sites/9/2016/11/avatar.jpg" style="width:200px;height:200px" class="rounded-circle" />

                            <label  for="avatar" class="btn btn-default btn-file">
                                Click here to select an image. <input type="file" id="avatar" name="avatar" onchange="readURL(this);" style="display: none;">
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <input type="text" name="firstname" class="form-control" required placeholder="Firstname" />
                        <br />
                        <input type="text" name="lastname" class="form-control" required placeholder="Lastname" />
                        <br />
                        <input type="text" name="email" class="form-control" required placeholder="Email" />
                        <br />
                        <input type="text" name="cell" class="form-control" required placeholder="Cell" />
                    </div>
                    <div class="column">
                        <input type="text" name="addressone"  class="form-control" placeholder="Address line 1" />
                        <br />
                        <input type="text" name="addresstwo"  class="form-control" placeholder="Address line 2" />
                        <br />
                        <input type="text" name="nameoncard" class="form-control" placeholder="Name on card" />
                        <br />
                        <input type="text" name="cardnumber" class="form-control" placeholder="Card number" />
                        <br />
                        <input type="text" name="cvv" class="form-control"  placeholder="CVV" />
                        <br />
                        <label for="cars">Choose payment type:</label>

                        <select id="paymenttypes" class="form-control" name="paymenttype">
                            <option value="cheque">Cheque</option>
                            <option value="savings">Savings</option>
                            <option value="credit">Credit card</option>
                        </select>
                        <br />
                        <label for="expdate" class="text-black-50">Exp date:</label>
                        <input type="date" id="expdate" name="expdate" class="form-control" value="2013-01-08">
                        <br />
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-danger"  onclick="window.open('/ProfileAdd','_self');"> Create my profile </button>
                        </div>
                    </div>

                </form>
                
            </div>
        </div>

    </div>
</div>
