@page
@model c_sharp_grad_frontend.Pages.RegisterSuccessModel
@{
    ViewData["Title"] = "RegisterSuccess";
}

<nav class="navbar navbar-dark bg-dark" style="height:100px;">
    <!-- Navbar content -->
    <img src="~/images/logo2.jpg" style="width:190px; height: 140px;" class="logo" />
    <form class="form-inline">

        <a style="float: left">Yo</a>



    </form>
</nav>

<br />
<br />
<br />
<br />

<h1 class="text-black-50">You have been successfully registered.</h1>
<br />
<br />

<a class="btn btn-danger" asp-page="/login">Login</a>